[Unit]
Description=Uiharu climate collection service
After=network.target

[Service]
User=%i
ExecStart=/home/kedo/Workspace/uiharu/venv/bin/uiharu-collector --config /home/kedo/Workspace/uiharu/config/uiharu-prod.json
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=multi-user.target
